.lndg {
    background: #d0cbc8;
    padding: 40px 0;
    height: 100vh;
    align-items: center;
    display: flex;
}
.lndg-lft{
    text-align: center;
}
.entr-sc a {
    background: #3c2b9b;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50px;
    font-weight: 500;
    margin: auto;
    transition: .6s all;
}

.entr-sc a:hover {
    background: #242329;
}
.sc-nm-nw {
    position: absolute;
    width: 100%;
    bottom: 70px;
}

.lndg-lft {
    position: relative;
    z-index: 9;
}

.sc-nm-nw {}

.logo-img {
    text-align: center;
    margin-bottom: -150px;
    z-index: 99999;
    position: relative;
}

.lndg-lft h5 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff;
}



@media  (min-width:1200px) and (max-width:1400px){
    .lndg-lft img {
        width: 70%;
    }

    .logo-img img {
        width: 167px;
    }
    .logo-img {
        margin-bottom: -100px;
    }

    .sc-nm-nw {
        position: absolute;
        width: 100%;
        bottom: 40px;
    }




}
@media  (min-width:768px) and (max-width:991.9px){
    .logo-img img {
        width: 160px;
    }
    .logo-img {
        margin-bottom: -100px;
    }
}
@media  (min-width:200px) and (max-width:767.9px){
    .lndg {
        background: #d0cbc8;
        padding: 40px 0;
        height: 100%;
        align-items: center;
        display: flex;
    }
 
}