<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title> Club </title>
  <script src="../static/Club_files/jquery-3.6.0.min.js"></script>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
  <link href="../static/css/css2.css" rel="stylesheet">
  <link href="../static/css/css2_002.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/animate.min.css">
  <link href="../static/css/aos.css" rel="stylesheet">
  <link href="../static/css/style_002.css" rel="stylesheet">
   <link href="../static/css/landing.css" rel="stylesheet">
   <script src="../static/js/jquery-3.6.0.min.js"></script>

   <title>Club – BEL Officers' Club</title>
<meta name="robots" content="max-image-preview:large">
<link rel="dns-prefetch" href="https://maps.googleapis.com/">

<style id="wp-emoji-styles-inline-css">

	img.wp-smiley, img.emoji {
		display: inline !important;
		border: none !important;
		box-shadow: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 0.07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
	}
</style>
<link rel="stylesheet" id="wp-block-library-css" href="../static/css/style.min.css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="../static/css/styles.css" media="all">
<link rel="stylesheet" id="twenty-twenty-one-style-css" href="../static/css/style.css" media="all">
<link rel="stylesheet" id="twenty-twenty-one-print-style-css" href="../static/css/print.css" media="print">
<link rel="stylesheet" id="ubermenu-css" href="../static/css/ubermenu.min.css" media="all">
<link rel="stylesheet" id="ubermenu-minimal-css" href="../static/css/minimal.css" media="all">
<link rel="stylesheet" id="ubermenu-font-awesome-all-css" href="../static/css/all.min.css" media="all">

<script src="../static/js/jquery.min.js" id="jquery-core-js"></script>
<script src="../static/js/jquery-migrate.min.js" id="jquery-migrate-js"></script>

  {% block style %} {% endblock %}
</head>

<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
  <div id="guide-template">
    <header class="header-scroll">
      <main class="hdr-bg">
        <div class="d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">

                  <div class="col-md-5 my-auto">

<!--                    <div class="hdr-cntct">-->
<!--                      <ul>-->
<!--                        <li><a href="#"> <img src="../static/images/home/i-hdr-call.png" class="img-fluid"> + 91-11-40701322</a></li>-->
<!--                        <li><a href="#"> <img src="../static/images/home/i-hdr-email.png" class="img-fluid">-->
<!--                            generalmanagervvc@gmail.com</a></li>-->
<!--                      </ul>-->
<!--                    </div>-->



                  </div>

                  <div class="col-md-2 lgo-1">
                    <div class="hdr-logo">
                      <a href="/" class="">
                          <img src="../static/images/home/BEOCLOGO.jpg" class="img-fluid logo-image">
                      </a>


                   <a class="ubermenu-responsive-toggle ubermenu-responsive-toggle-main ubermenu-skin-minimal ubermenu-loc-club ubermenu-responsive-toggle-content-align-left ubermenu-responsive-toggle-align-full " data-ubermenu-target="ubermenu-main-2-club-2">
                        <img src="../static/images/home/toggle.png" class="img-fluid">
                      </a>
                    </div>
                  </div>

                  <div class="col-md-5 hdr-rght-sd my-auto">

                    <div class="hdr-btns">
                      <ul>
                        <li><a href="/gallary"> <img src="../static/images/home/i-login.png" class="img-fluid" target="_blank"> Member Login </a></li>

                      </ul>
                    </div>



                  </div>

                </div>
              </div>

				<!---->
				<div class="col-lg-12 nmout">
				<nav class="navbar navbar-expand-md  justify-content-md-center">
                  <div class=" ">
                    <div class=" navbar-collapse" id="navbarNavDropdown">

<!-- UberMenu [Configuration:main] [Theme Loc:club] [Integration:auto] -->
<!-- [UberMenu Responsive Toggle Disabled] -->
                        <nav id="ubermenu-main-2-club-2" class="ubermenu ubermenu-main ubermenu-menu-2 ubermenu-loc-club ubermenu-responsive ubermenu-responsive-default ubermenu-responsive-collapse ubermenu-horizontal ubermenu-transition-shift ubermenu-trigger-hover_intent ubermenu-skin-minimal ubermenu-bar-align-full ubermenu-items-align-auto ubermenu-bound ubermenu-disable-submenu-scroll ubermenu-sub-indicators ubermenu-retractors-responsive ubermenu-submenu-indicator-closes ubermenu-notouch">
                            <ul id="ubermenu-nav-main-2-club" class="ubermenu-nav">
                                <li id="menu-item-59" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-current-menu-item ubermenu-page_item ubermenu-page-item-17 ubermenu-current_page_item ubermenu-item-59 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto">
                                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="/" tabindex="0">
                                        <span class="ubermenu-target-title ubermenu-target-text">Home</span>
                                    </a>
                                </li>
                                <li id="menu-item-58" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-58 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto">
                                   <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="/about" tabindex="0">
                                       <span class="ubermenu-target-title ubermenu-target-text">About</span>
                                   </a>
                                </li>
                                <li id="menu-item-57" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-57 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto">
                                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="/committee" tabindex="0">
                                        <span class="ubermenu-target-title ubermenu-target-text">committee</span>
                                    </a>
                                </li>
                                 <li id="menu-item-318" class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-318 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-flyout">
                                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="#" tabindex="0">
                                        <span class="ubermenu-target-title ubermenu-target-text">Facilities</span>
                                        <i class="ubermenu-sub-indicator fas fa-angle-down" aria-hidden="true"></i>
                                        <span class="ubermenu-sub-indicator-close">
                                            <i class="fas fa-times" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                    <button class="sub-menu-toggle" aria-expanded="false" onclick="twentytwentyoneExpandSubMenu(this)">
                                        <span class="icon-plus">
                                            <svg class="svg-icon" width="18" height="18" aria-hidden="true" role="img" focusable="false" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18 11.2h-5.2V6h-1.6v5.2H6v1.6h5.2V18h1.6v-5.2H18z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        <span class="icon-minus">
                                            <svg class="svg-icon" width="18" height="18" aria-hidden="true" role="img" focusable="false" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6 11h12v2H6z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        <span class="screen-reader-text">Open menu</span>
                                    </button>
                                    <ul class="ubermenu-submenu ubermenu-submenu-id-318 ubermenu-submenu-type-flyout ubermenu-submenu-drop ubermenu-submenu-align-left_edge_item">
                                        <li id="menu-item-319" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-319 ubermenu-item-auto ubermenu-item-normal ubermenu-item-level-1">
                                            <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="/sport">
                                                <span class="ubermenu-target-title ubermenu-target-text">Sports</span>
                                            </a>
                                        </li>
                                        <li id="menu-item-320" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-320 ubermenu-item-auto ubermenu-item-normal ubermenu-item-level-1">
                                            <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="/party">
                                                <span class="ubermenu-target-title ubermenu-target-text">Party Hall Booking</span>
                                            </a>
                                        </li>

                                        <li id="menu-item-322" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-322 ubermenu-item-auto ubermenu-item-normal ubermenu-item-level-1">
                                            <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="/dine">
                                                <span class="ubermenu-target-title ubermenu-target-text">Bar & Resturant </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-439" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-439 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto">
                                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="/event" tabindex="0">
                                        <span class="ubermenu-target-title ubermenu-target-text">Events</span>
                                    </a>
                                </li>
                                <li id="menu-item-225" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-225 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto">
                                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="/gallary" tabindex="0">
                                        <span class="ubermenu-target-title ubermenu-target-text">Gallery</span>
                                    </a>
                                </li>
                                <li id="menu-item-398" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-398 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto">
                                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="/newsletter" tabindex="0">
                                        <span class="ubermenu-target-title ubermenu-target-text">Newsletters</span>
                                    </a>
                                </li>
                                <li id="menu-item-230" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-230 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto">
                                    <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="/contact" tabindex="0">
                                        <span class="ubermenu-target-title ubermenu-target-text">Contact</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
<!-- End UberMenu -->
                    </div>
                  </div>
                </nav>

				</div>
				<!---->



            </div>
          </div>
        </div>

      </main>
    </header>

  </div>
  <div class="banner-section">

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="60">
<div class="carousel-indicators" style="display: none;">

	    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="" aria-label="Slide 0"></button>


		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 1" class="active" aria-current="true"></button>


		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 2" class=""></button>


		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3" class=""></button>


		  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 4" class=""></button>


      </div>
      <div class="carousel-inner">


	     <div class="carousel-item" data-bs-interval="5000">
          <img src="../static/images/home/banner2.jpg" class="d-none d-sm-block w-100" alt="Banner 1">
          <img src="../static/images/home/banner2-aspect-ratio-800-800.jpg" class="d-block d-sm-none img-fluid" alt="Banner 1">
          <div class="carousel-caption d-md-block">
          </div>
        </div>


		 	     <div class="carousel-item active" data-bs-interval="5000">
          <img src="../static/images/home/banner3.jpg" class="d-none d-sm-block w-100" alt="Banner 2">
          <img src="../static/images/home/banner3-aspect-ratio-800-800.jpg" class="d-block d-sm-none img-fluid" alt="Banner 2">
          <div class="carousel-caption d-md-block">
          </div>
        </div>


		 	     <div class="carousel-item" data-bs-interval="5000">
          <img src="../static/images/home/banner4.jpg" class="d-none d-sm-block w-100" alt="Banner 3">
          <img src="../static/images/home/banner4-aspect-ratio-800-800.jpg" class="d-block d-sm-none img-fluid" alt="Banner 3">
          <div class="carousel-caption d-md-block">
          </div>
        </div>


		 	     <div class="carousel-item" data-bs-interval="5000">
          <img src="../static/images/home/banner5.jpg" class="d-none d-sm-block w-100" alt="Banner 4">
          <img src="../static/images/home/banner5-aspect-ratio-800-800.jpg" class="d-block d-sm-none img-fluid" alt="Banner 4">
          <div class="carousel-caption d-md-block">
          </div>
        </div>


		 	     <div class="carousel-item" data-bs-interval="5000">
          <img src="../static/images/home/banner6.jpg" class="d-none d-sm-block w-100" alt="Banner 5">
          <img src="../static/images/home/banner6-aspect-ratio-800-800.jpg" class="d-block d-sm-none img-fluid" alt="Banner 5">
          <div class="carousel-caption d-md-block">
          </div>
        </div>



      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

    </div>

  </div>

{% block content %} {% endblock %}

<footer>
    <div class="container">
      <div class="col-md-12">
        <div class="row">
<!--          <div class="col-md-3 col-sm-6">-->
<!--            <div class="ftr-sc">-->
<!--              <h4>Club</h4>-->
<!--              <ul>-->
<!--                <li><a href="/"> About </a></li>-->
<!--                <li><a href="/"> Club Committee</a></li>-->
<!--                <li><a href="/committee"> Managing Committee</a></li>-->
<!--                <li><a href="/"> Facilities</a></li>-->
<!--                <li><a href="/event"> Events</a></li>-->

<!--                <li><a href="/contact"> Contact</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
          <div class="col-md-3 col-sm-6 d-md-flex justify-content-md-center">
            <div class="ftr-sc">
              <h4>Quick Links</h4>
              <ul>
                <li><a href="/conduct"> Code of Conduct</a></li>
                <li><a href="/rule"> Club Rules</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 d-md-flex justify-content-md-center">
            <div class="ftr-sc">
              <h4>Contact</h4>
              <div class="ftr-cntct">
                <ul>
                  <li> <span class="icon-ftr"> <img src="../static/images/home/i-location.png" class="img-fluid"> </span> Bharat Electronics
                    Officers' Club  <br> Bangalore – 560013 </li>
                  <li> <span class="icon-ftr"> <img src="../static/images/home/i-call.png" class="img-fluid"> </span>
                    + 91-80-22195212
                  </li>
                  <li> <span class="icon-ftr"> <img src="../static/images/home/i-mail.png" class="img-fluid"> </span>
                    <span>
                      <a href="mailto:generalmanagervvc@gmail.com"> secretaryclub@bel.co.in </a> <br>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 d-md-flex justify-content-md-end">
            <div class="ftr-sc">
              <h4>Find Us On</h4>
              <div class="social-1">
                <ul>
                  <li><a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a></li>
                  <li><a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
                  <li><a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                  <li><a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="copy">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h6>Copyright © 2024 BHARAT ELECTRONICS OFFICERS' CLUB</h6>
          </div>
          <div class="col-md-6 d-md-flex justify-content-md-end">
            <h6>Powered by <a href="#">CRL BEL BANGALORE </a>  </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.onscroll = function () {
      var header = document.getElementsByTagName('header')
      if (document.body.scrollTop > 60 || document.documentElement.scrollTop > 60) {
        header[0].classList.add('header-scroll');
      } else {
        if (header[0].classList.contains("header-scroll")) {
          header[0].classList.remove('header-scroll');
        }
      }
    }
  </script>

  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/aos.js"></script>
  <script src="../static/js/4b28861238.js" crossorigin="anonymous"></script><style media="all" id="fa-v4-font-face">/*!


 </style>
  <script src="../static/js/jquery.magnific-popup.js"></script>
  <script src="../static/js/function.js"></script>
  <script>

    AOS.init();

  </script>
  <script>document.body.classList.remove("no-js");</script>	<script>
	if ( -1 !== navigator.userAgent.indexOf( 'MSIE' ) || -1 !== navigator.appVersion.indexOf( 'Trident/' ) ) {
		document.body.classList.add( 'is-IE' );
	}
	</script>

<script id="ubermenu-js-extra">
var ubermenu_data = {"remove_conflicts":"on","reposition_on_load":"off","intent_delay":"300","intent_interval":"100","intent_threshold":"7","scrollto_offset":"50","scrollto_duration":"1000","responsive_breakpoint":"959","accessible":"on","retractor_display_strategy":"responsive","touch_off_close":"on","submenu_indicator_close_mobile":"on","collapse_after_scroll":"on","v":"3.5","configurations":["main"],"disable_mobile":"off","prefix_boost":"","aria_role_navigation":"off","aria_expanded":"off","aria_hidden":"off","aria_controls":"","aria_responsive_toggle":"off","icon_tag":"i","theme_locations":{"club":"Club menu","society":"Society menu","footer":"Secondary menu"}};
</script>
<script src="../static/js/ubermenu.min.js" id="ubermenu-js"></script>
		<script>
		/(trident|msie)/i.test(navigator.userAgent)&&document.getElementById&&window.addEventListener&&window.addEventListener("hashchange",(function(){var t,e=location.hash.substring(1);/^[A-z0-9_-]+$/.test(e)&&(t=document.getElementById(e))&&(/^(?:a|select|input|button|textarea)$/i.test(t.tagName)||(t.tabIndex=-1),t.focus())}),!1);
		</script>

    {% block javascript %}
  <!-- Add this script at the end of the <body> section -->

    {% endblock %}

</body>
</html>