{% extends "base.html" %}
{% block content %}

  <div class="vcc-hm-1">
    <div class="container">

      <div class="col-md-10 mx-auto hm-1">
<!--        <img src="../static/images/home/welcome-1.png" class="img-fluid" alt="img">-->
        <div class="hd-mn1">
          <h2>Event CLUB</h2>
        </div>
        <div class="des-1">
<p>Coming Soon ... </p>
</div>
 </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block javascript %}
<!-- Add this script at the end of the <body> section -->

{% endblock %}
