{% extends "base.html" %}

{% block content %}

  <div class="vcc-hm-1">
    <div class="container">

      <div class="col-md-10 mx-auto hm-1">
<!--        <img src="../static/images/home/welcome-1.png" class="img-fluid" alt="img">-->
        <div class="hd-mn1">
          <h2>BEOC CLUB</h2>
        </div>
        <div class="des-1">
<p> Bharat Electronics officers' Club (BEOC) is situated at BEL Township, Jalahalli, Bangalore - 560013, formed in the year 1963, with an aim of providing physical and cultural needs for the Officers of BEL and their families.</p>
</div>
 </div>
        <div class="btn-1">
          <a href="/about">READ MORE</a>
        </div>
      </div>

    </div>
  </div>

  <div class="vcc-hm-3">
    <div class="container">
      <div class="col-md-12 mx-auto hm-3">
        <div class="hd-mn1">
          <h2>CLUB FACILITIES</h2>
        </div>
      </div>
    </div>
  </div>

<div class="vcc-hm-3-facilities">
    <div class="hm-3-fac1">
      <img src="../static/images/home/facility-1.jpg" alt="img" class="img-fluid">
    </div>
    <div class=" hm-3-fac2">
      <div class="row fac-1">
        <div class="col-md-5 fac-bx-blue">
          <div class="fac-bx">
            <img src="../static/images/home/fac-1.png" class="img-fluid">
            <h3>Resturants &amp; Bar</h3>
            <div class="des-2">
                             <p>
               The BEL Officers' Club offers a delightful experience with its beautifully maintained front lawn, serene rear lawn, inviting cafeteria, and a unique bar under the sky             </p>
            </div>
            <div class="btn-1">
              <a href="/dine">View All</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="vcc-hm-3-facilities">
    <div class="hm-3-fac1">
      <img src="../static/images/home/facility-2.jpg" alt="img" class="img-fluid">
    </div>
    <div class=" hm-3-fac2">
      <div class="row fac-1">
        <div class="col-md-5 fac-bx-blue">
          <div class="fac-bx">
            <img src="../static/images/home/fac-2.png" class="img-fluid">
            <h3>Sports</h3>
            <div class="des-2">
                             <p>
              Bharat Electronics Officers' Club boasts an impressive range of sports facilities, including tennis, squash, table tennis, badminton, and snooker. The club also features a well-equipped gym and a large swimming pool...              </p>
            </div>
            <div class="btn-1">
              <a href="/sport">View All</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="vcc-hm-3-facilities">
    <div class="hm-3-fac1">
      <img src="../static/images/home/facility-3.jpg" alt="img" class="img-fluid">
    </div>
    <div class=" hm-3-fac2">
      <div class="row fac-1">
        <div class="col-md-5 fac-bx-blue">
          <div class="fac-bx">
            <img src="../static/images/home/fac-3.png" class="img-fluid">
            <h3>Party Hall Booking</h3>
            <div class="des-2">
               <p>
                   The Club offers versatile event spaces for hire, perfect for parties, weddings, and birthday party.
                   We provide a range of options for food, drinks, and decor to suit your needs...
               </p>
            </div>
            <div class="btn-1">
              <a href="/party">View All</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

  <div class="vcc-hm-4">
    <div class="container">

      <div class="col-md-12 mx-auto hm-4">
        <div class="hd-mn1">
          <h2>EVENTS</h2>
        </div>
        <div class="all-evnt-btn">
          <h6> <a href="#"> ALL EVENTS <img src="../static/images/home/evnt-right.png" class="img-fluid"> </a></h6>
        </div>
      </div>

      <div class="col-md-12 mx-auto hm-4-evnts">
        <div class="row">
          <div class="col-md-6 mrgn-mbl">
            <div class="bx-evnts">
              <a href="#">
                <div class="evnt-img">
                  <img src="../static/images/home/event-1.jpg" class="img-fluid" alt="img">
                </div>
                <div class="evnt-cntnt">
                  <h5> 78th Independance Day Celebration 2024 </h5>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 col-sm-6 mrgn-mbl">
                <div class="bx-evnts">
                  <a href="#">
                    <div class="evnt-img">
                      <img src="../static/images/home/event-2.jpg" class="img-fluid" alt="img">
                    </div>
                    <div class="evnt-cntnt">
                      <h5> Holi Celebration </h5>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 mrgn-mbl">
                <div class="bx-evnts">
                  <a href="#">
                    <div class="evnt-img">
                      <img src="../static/images/home/event-3.jpg" class="img-fluid" alt="img">
                    </div>

                    <div class="evnt-cntnt">
                      <h5> Republic Day Celebration </h5>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 mrgn-tp-1 mrgn-mbl">
                <div class="bx-evnts">
                  <a href="#">
                    <div class="evnt-img">
                      <img src="../static/images/home/event-4.jpg" class="img-fluid" alt="img">
                    </div>

                    <div class="evnt-cntnt">
                      <h5>  karnataka Rajyotsava Day </h5>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 mrgn-tp-1 mrgn-mbl">
                <div class="bx-evnts">
                  <a href="#">
                    <div class="evnt-img">
                      <img src="../static/images/home/event-5.jpg" class="img-fluid" alt="img">
                    </div>

                    <div class="evnt-cntnt">
                      <h5> New Yaer Celebration </h5>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}


{% block javascript %}
<!-- Add this script at the end of the <body> section -->

{% endblock %}
