{% extends "base.html" %}

{% block style %}
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/css2.css" rel="stylesheet">
<link href="../static/css/css2_002.css" rel="stylesheet">
<link rel="stylesheet" id="contact-form-7-css" href="../static/css/styles.css" media="all">
<link rel="stylesheet" id="twenty-twenty-one-style-css" href="../static/css/style.css" media="all">

        <style>
           .main-attraction-timing {
            margin: 20px auto;
            width: 80%;
            max-width: 600px;
        }

        .main-attraction-timing table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 18px;
            text-align: left;
<!--            border: 2px solid black; /* Border for the entire table */-->
        }

        .main-attraction-timing th, .main-attraction-timing td {
            padding: 12px;
            border-bottom: 5px solid #ddd;
        }

        .main-attraction-timing th {
            background-color: #3c7366;
            color: white;
        }

        .main-attraction-timing tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .main-attraction-timing tr:hover {
            background-color: #f1f1f1;
        }

        .main-attraction-timing caption {
            font-size: 24px;
            font-weight: bold;
            margin: 10px 0;
        }
        .gallery {
            position: relative;
            width: 80%;
            max-width: 800px;
            margin: 20px auto;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        }
        .gallery img {
            width: 100%;
            display: none;
            transition: opacity 1s ease-in-out;
        }
        .gallery img.active {
            display: block;
            opacity: 1;
        }


    </style>

{% endblock %}

{% block content %}
  <div class="facility-1">
    <div class="container">

      <div class="col-md-10 mx-auto  fclty-hd">

        <div class="hd-mn1">
          <h2>Party Hall Booking</h2>
        </div>
        <div class="des-1">
          <p></p><p>The Club has flexible event spaces which are
available for hire for different parties, weddings or BEL official events.
The food, the drinks and the decor can be tailor-made to suit the
occasion and budget, with empasis on quality and service.</p>
 <div class="main-attraction-timing">
      <h3>Booking Slots</h3>
        <table>

            <thead>
                <tr>
                    <th>Slot</th>
                    <th>Timing</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Slot 1</td>
                    <td>8:00 AM to 3:00 PM</td>
                </tr>
                <tr>
                    <td>Slot 2</td>
                    <td>3:00 PM to 11:00 PM</td>
                </tr>
            </tbody>
        </table>
    </div>
<p></p>
        </div>

      </div>

      <div class="col-md-12 fclty-1">

              <div class="row fclty-mn-bx">
          <div class="col-md-6 fclty-img">
              <div class="gallery gallery-nonac">
                    <img src="../static/images/party/hall-1.jpg" class="img-fluid" alt="img">
                    <img src="../static/images/party/hall-2.jpg" class="img-fluid" alt="img">
<!--                    <img src="../static/images/party/3.jpg" class="img-fluid" alt="img">-->
              </div>

          </div>
          <div class="col-md-6 fclty-cntnt my-auto">
              <h3>Non AC HALL</h3>
              <div class="des-1">
                <p></p><p>The Non AC hall , is elaborately decorated and is ideal for hosting birthday events and parties.
                  There is a separate entrance for this hall and it can accommodate up to 100 people.</p>
<p></p>
              </div>
                            <div class="hrs">

              </div>

              <h6></h6>


            <a href="#" data-bs-toggle="modal" data-bs-target="#facility-menu1" style="width: 200px;"> <span>Make Booking</span>  </a>
            <!-- Modal -->
            <div class="mdl-nw-2 modal fade" id="facility-menu1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="padding-top: 42px;">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="fclty-nw-bxx">

                    <div class="row">
                        <div class="col-md-12 ">
                          <p><strong>For booking of party hall.<br>
Party Incharge – Ms. Hemavathy ,<br>
E mail : abcd@gmail.com <br>
Mobile : +919449573540, Tele : 080- 22195212.</strong></p>
                        </div>
                    </div>
                  </div>
               </div>

              </div>
            </div>
          </div>

          </div>
        </div>
                      <div class="row fclty-mn-bx">
          <div class="col-md-6 fclty-img">
             <div class="gallery gallery-ac">
                    <img src="../static/images/party/hall-3.jpg" class="img-fluid" alt="img">
                    <img src="../static/images/party/hall-4.jpg" class="img-fluid" alt="img">
<!--                    <img src="../static/images/party/3.jpg" class="img-fluid" alt="img">-->
              </div>
          </div>
          <div class="col-md-6 fclty-cntnt my-auto">
              <h3>AC Hall</h3>
              <div class="des-1">
                <p>The AC hall , is elaborately decorated and is ideal for hosting birthday events and parties.
                    There is a separate entrance for this hall and it can accommodate up to 70 people.
                </p>
              </div>
                            <div class="hrs">

              </div>

              <h6></h6>


            <a href="#" data-bs-toggle="modal" data-bs-target="#facility-menu2" style="width: 200px;"> <span>Make Booking</span>  </a>
            <!-- Modal -->
            <div class="mdl-nw-2 modal fade" id="facility-menu2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="padding-top: 42px;">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="fclty-nw-bxx">

                    <div class="row">
                        <div class="col-md-12 ">
                          <p><strong>For booking of party hall.<br>
                            Party Incharge – Ms. Hemavathy ,<br>
                            E mail : abcd@gmail.com <br>
                            Mobile : +919449573540, Tele : 080- 22195212.</strong></p>
                        </div>
                    </div>
                  </div>
               </div>

              </div>
            </div>
          </div>

          </div>
        </div>
                      <div class="row fclty-mn-bx">
          <div class="col-md-6 fclty-img">
              <div class="gallery gallery-rearlawn">
                    <img src="../static/images/party/hall-5.jpg" class="img-fluid" alt="img">
                    <img src="../static/images/party/hall-6.jpg" class="img-fluid" alt="img">
<!--                    <img src="../static/images/party/3.jpg" class="img-fluid" alt="img">-->
              </div>
          </div>
          <div class="col-md-6 fclty-cntnt my-auto">
              <h3>Rear LAWN</h3>
              <div class="des-1">
                <p>
                    The newly upgraded Rear Lawns, featuring a pristine green turf and a stunning sky view, offers a versatile and elegant space ideal for hosting events, parties, and large weddings.
                    With a capacity to accommodate between 500 to 1,000 guests, it is also the venue of choice for most Club events.
                </p>
              </div>
                            <div class="hrs">

              </div>

              <h6></h6>


            <a href="#" data-bs-toggle="modal" data-bs-target="#facility-menu3" style="width: 200px;"> <span>Make Booking</span>  </a>
            <!-- Modal -->
            <div class="mdl-nw-2 modal fade" id="facility-menu3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="padding-top: 42px;">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="fclty-nw-bxx">

                    <div class="row">
                        <div class="col-md-12 ">
                          <p><strong>For booking of party hall.<br>
                            Party Incharge – Ms. Hemavathy ,<br>
                            E mail : abcd@gmail.com <br>
                            Mobile : +919449573540, Tele : 080- 22195212.</strong></p>
                        </div>
                    </div>
                  </div>
               </div>

              </div>
            </div>
          </div>

          </div>
        </div>


      </div>

    </div>
  </div>
{% endblock %}

{% block javascript %}
  <!-- Add this script at the end of the <body> section -->
<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

  <script>
    window.onscroll = function () {
      var header = document.getElementsByTagName('header')
      if (document.body.scrollTop > 60 || document.documentElement.scrollTop > 60) {
        header[0].classList.add('header-scroll');
      } else {
        if (header[0].classList.contains("header-scroll")) {
          header[0].classList.remove('header-scroll');
        }
      }
    }
  </script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const galleries = document.querySelectorAll('.gallery');

        galleries.forEach(gallery => {
            let currentIndex = 0;
            const images = gallery.querySelectorAll('img');
            const totalImages = images.length;

            function showNextImage() {
                images[currentIndex].classList.remove('active');
                currentIndex = (currentIndex + 1) % totalImages;
                images[currentIndex].classList.add('active');
            }

            setInterval(showNextImage, 3000); // Change image every 3 seconds
        });
    });
</script>
{% endblock %}